.relicSearchButton {
    border: solid #673ab7 2px;
    height: 56px;
    margin-top: -18px;
    margin-left: 5px;
}

.itemForm {
    width: fit-content;
    height: fit-content;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.relicSearch {
    background-color: rgba(0, 0, 0, 0.3);
    vertical-align: top;
    padding: 10px;
}