/* You can add global styles to this file, and also import other style files */
$dark-grey: rgba(183, 0, 255, 0.1);

* {
    font-family: Roboto, sans-serif; 
    font-size: 18px;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
}
